/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

@import "./media-queries.scss";

:root {
  --ion-background-color: #0f0f17 !important;
  --background: #0f0f17 !important;
  --padding-bottom: 130px !important;

}